<%- include ('../layouts/header.ejs') %>

    <body style="background-color: #13154a; " class="justify-content-between">
        <br>
        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb mb-30">
                        <a class="breadcrumb-item text-light text-decoration-none" href="/home">Home</a>
                        <span class="breadcrumb-item active">Shopping Cart</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <% if(cartProducts.item.length==0){%>
            <style>
                @import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

                /* body {

                background-color: #000000;
            }
 */
                .card {
                    margin-bottom: 100px;
                    background-color: transparent;
                    border: 0;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    letter-spacing: .5px;
                    border-radius: 8px;
                    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                }

                .card .card-header {
                    background-color: #000000;
                    border-bottom: none;
                    padding: 24px;
                    border-bottom: 1px solid #000000;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                .card-header:first-child {
                    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
                }

                .card .card-body {
                    padding: 30px;
                    background-color: transparent;
                }

                .letter {
                    color: aliceblue;
                }

                .btnn {
                    text-align: center;
                    background-color: #cbb739 !important;
                    padding: 20px;
                    border-radius: 20px;
                    font-weight: 200;
                    color: rgb(0, 0, 0);
                }
            </style>
            <div class="container-fluid">

                <div class="d-flex flex-column justify-content-center align-items-center mt-1 mb-5 ">

                    <h5 style="color:white;">Your Cart Misses You!! </h6>
                        <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_4yZa2Y0rpb.json"
                            background="transparent" speed="2" style="width: 300px; height: 300px;" loop
                            autoplay></lottie-player>

                </div>
            </div>
            <%}else{%>

                <!-- Cart Start -->
                <div class="container-fluid">
                    <div class="row px-xl-5 ">
                        <div class="col-lg-8 table-responsive  mb-5">
                            <table style="border-radius: 10px; background-color: rgb(33, 33, 33);"
                                class="table table-borderless table-hover text-center mb-0">
                                <thead class="thead-dark">
                                    <tr style="color: white;">
                                        <th>image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    <% for(let i=0;i<cartProducts.item.length;i++){ %>
                                        <tr class="text-light">
                                            <td class="align-middle"><a
                                                    href="/viewDetails?id=<%=cartProducts.item[i].productId._id%>"><img
                                                        src="/uploads/<%=cartProducts.item[i].productId.image[0]%>"
                                                        alt="" style="width: 50px; border-radius: 5px;"></a></td>
                                            <td class="align-middle text-uppercase">
                                                <a class="text-decoration-none text-light"
                                                    href="/viewDetails?id=<%=cartProducts.item[i].productId._id%>">
                                                    <%=cartProducts.item[i].productId.name%>
                                                </a>
                                            </td>
                                            <% const categoryItem=categoryData.find(cat=> cat.name ===
                                                cartProducts.item[i].productId.category); %>
                                                <%if(categoryItem.discountPercentage!=0){%>

                                                    <% let discountedPrice=cartProducts.item[i].productId.price -
                                                        (cartProducts.item[i].productId.price *
                                                        categoryItem.discountPercentage / 100); %>
                                                        <td id="price" class="align-middle">
                                                            <%=discountedPrice%>
                                                        </td>
                                                        <% } else { %>
                                                            <td id="price" class="align-middle">
                                                                <%=cartProducts.item[i].productId.price%>
                                                            </td>
                                                            <%}%>
                                                                <td class="align-middle ">
                                                                    <div class="d-flex  ms-4"
                                                                        style="max-width: 160px; ">
                                                                        <button
                                                                            class=" button hollow circle btn-info min-btn"
                                                                            style="border-radius: 5px; height: 34px; margin-left: 60px;"
                                                                            onclick="update('<%= cartProducts.item[i].productId._id %>',0,'<%=i%>')">
                                                                            <i class="fas fa-minus"></i>
                                                                        </button>

                                                                        <div class="form-outline">
                                                                            <input
                                                                                style=" width: 60px;height: 34px; background-color: rgb(31, 31, 31); text-align: center; color: white;"
                                                                                min="1" name="quantity"
                                                                                value="<%=cartProducts.item[i].qty%>"
                                                                                type="number" disabled
                                                                                class="form-control"
                                                                                id='<%=cartProducts.item[i].productId._id %>' />
                                                                        </div>
                                                                        <button class=" button hollow circle btn-info"
                                                                            style="border-radius: 5px; height: 34px;"
                                                                            onclick="update('<%= cartProducts.item[i].productId._id %>','<%=cartProducts.item[i].productId.stock%>','<%=i%>')">
                                                                            <i class="fas fa-plus"></i>
                                                                        </button>
                                                                        <span class="stock-exceed-message" sty></span>

                                                                    </div>
                                                                </td>
                                                                <td id="<%=i%>" class="align-middle">
                                                                    <!-- <%=cartProducts.item[i].productId.price*cartProducts.item[i].qty%> -->
                                                                    <% if(categoryItem.discountPercentage !==0){ %>
                                                                        <% let
                                                                            discountedPrice=cartProducts.item[i].productId.price
                                                                            - (cartProducts.item[i].productId.price *
                                                                            categoryItem.discountPercentage / 100); %>
                                                                            <% let discountedTotalPrice=discountedPrice
                                                                                * cartProducts.item[i].qty; %>
                                                                                <%=discountedTotalPrice%>
                                                                                    <% } else { %>
                                                                                        <%=cartProducts.item[i].productId.price
                                                                                            * cartProducts.item[i].qty%>
                                                                                            <% } %>
                                                                </td>
                                                                <td class="align-middle"><a
                                                                        href="/deleteCart?id=<%= cartProducts.item[i].productId._id %>"><button
                                                                            class="btn btn-sm btn-danger"><i
                                                                                class="fas fa-remove"></i></button></a>
                                                                </td>
                                        </tr>

                                        <% }%>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="section-title position-relative text-uppercase mb-3"><span
                                    style="color: rgb(246, 239, 239) ;" class="pr-3">Cart Summary</span></h5>
                            <% let total=0; %>
                                <% let discountedTotalPrice=0; %>
                                    <% for (let i=0; i < cartProducts.item.length; i++) { %>
                                        <% const categoryItem=categoryData.find(cat=> cat.name ===
                                            cartProducts.item[i].productId.category); %>
                                            <% let itemPrice=(categoryItem.discountPercentage !==0) ?
                                                (cartProducts.item[i].productId.price -
                                                (cartProducts.item[i].productId.price * categoryItem.discountPercentage
                                                / 100)) : cartProducts.item[i].productId.price; %>
                                                <% let discountedTotalPrice=itemPrice * cartProducts.item[i].qty; %>
                                                    <% total +=discountedTotalPrice; %>
                                                        <div class=" p-30 mb-5">
                                                            <div class="pt-2">
                                                                <div class="d-flex text justify-content-between mt-2">
                                                                    <%}%>
                                                                        <h5 style="color:aliceblue;">Total</h5>
                                                                        <input type="hidden" id="TotalSum"
                                                                            value=<%=total %> >

                                                                        <h5 style="color:aliceblue;" id="total1">Rs <%=
                                                                                total %>
                                                                        </h5>
                                                                </div>
                                                                <a class="btn btn-block sm btn-primary font-weight-bold mt-4"
                                                                    href="<%if(cartProducts.totalPrice==0){%>/loadCart<%}else{%>/loadCheckout<%}%>">
                                                                    <small>Proceed To
                                                                        Checkout</small></a>
                                                            </div>
                                                        </div>
                        </div>
                    </div>
                </div>
                <%}%>
                    <% if(cartProducts.item.length<3&&cartProducts.item.length>0){ %>
                        <div style="margin-top: 100px;">

                        </div>
                        <% } %>
                            <!-- Cart End -->

                            <!-- Back to Top -->
    </body>
    <script>
        jQuery(document).ready(function () {
            // This button will increment the value
            $('[data-quantity="plus"]').click(function (e) {

                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('data-field');
                // Get its current value
                Val = $('input[name=' + fieldName + ']').val()
                console.log(Val);
                var values = Val.split(',')
                var currentVal = parseInt(values[0])
                var stock = parseInt(values[1])

                // If is not undefined
                if (!isNaN(currentVal)) {
                    // Increment
                    if (currentVal == stock) {
                        showMessage('Stock exceeds maximum');
                    } else {
                        $('input[name=' + fieldName + ']').val(currentVal + 1);
                    }
                } else {
                    // Otherwise put a 0 there
                    $('input[name=' + fieldName + ']').val(0);
                }
            });
            // This button will decrement the value till 0
            $('[data-quantity="minus"]').click(function (e) {
                // Stop acting like a button
                e.preventDefault();
                // Get the field name
                fieldName = $(this).attr('data-field');
                // Get its current value
                Val = $('input[name=' + fieldName + ']').val()
                console.log(Val);
                var values = Val.split(',')
                var currentVal = parseInt(values[0])
                // If it isn't undefined or its greater than 0
                if (!isNaN(currentVal) && currentVal > 1) {
                    // Decrement one
                    $('input[name=' + fieldName + ']').val(currentVal - 1);
                } else {
                    // Otherwise put a 0 there
                    $('input[name=' + fieldName + ']').val(1);
                }
            });
        });
        function update(id, plus, amt) {
            currentqty = document.getElementById(id);
            const prevQtyVal = currentqty.value
            const value = document.getElementById("TotalSum").value;
            console.log(prevQtyVal + ".............")
            if (plus) {
                if (prevQtyVal == plus) return true
                console.log(prevQtyVal, "  dsfasdf " + plus)
                if (prevQtyVal < parseInt(plus)) {
                    currentqty.parentNode.querySelector('input[type=number]').stepUp();
                    if (currentqty.value >= plus) {
                        console.log("stock exceeds");
                        showMessage('Stock exceeds maximum');
                    }
                }
            } else {
                if (prevQtyVal == 1) return false
                currentqty.parentNode.querySelector('input[type=number]').stepDown()
                clearMessage();
            }
            // setTimeout(() => {
            // console.log("currrent" + currentqty.value);
            // console.log('qty' + currentqty.value);

            let qty = document.getElementById(id).value;
            console.log("no:" + currentqty.value, plus);

            if (currentqty.value < plus) {
                console.log("empty")
            }
            if (currentqty.value == plus && currentqty.value == 0) {
                console.log("currentqty.value, plus" + currentqty.value, plus);
            } else {
                $.ajax({
                    url: '/updateCart',
                    type: 'POST',
                    data: { quantity: qty, _id: id, preValue: value },
                    success: function (data) {

                        let val = +document.getElementById("total1").innerHTML.split(" ")[1]
                        const oneItmevalue = (data.price / qty)

                        if (qty < prevQtyVal) val -= oneItmevalue
                        else val += oneItmevalue

                        const TotalValue = data.price
                        const newvalu = document.getElementById("total1").innerHTML = "Rs " + val;
                        const dataamount = document.getElementById(amt).innerHTML = data.price;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                })
            }
            // }, 50);
        }
        function showMessage(message) {
            // Check if the message element already exists
            var messageElement = $('.stock-exceed-message');

            if (messageElement.length > 0) {
                // Update the existing message element with the new message
                messageElement.text(message);
            } else {
                // Create a new element for the message
                var messageElement = $('<span>')
                    .addClass('stock-exceed-message')
                    .text(message);

                // Append the message element after the plus button
                $('[data-quantity="plus"]').after(messageElement);
            }
            const msg = document.querySelector(".stock-exceed-message")

            // Remove the message after a certain duration (e.g., 3 seconds)
            // setTimeout(function () {
            //    msg
            // }, 3000);
        }
        function clearMessage() {
            $('.stock-exceed-message').remove();
        }

    </script>

    </html>