<%- include ('../layouts/header.ejs') %>
    <br>

    <body style="background-color: #0b0c2a;">
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb mb-30">
                        <a style="color: white;" class="breadcrumb-item text-decoration-none" href="/home">Home</a>
                        <a class="breadcrumb-item text-decoration-none text-light" href="/loadCart">Cart</a>
                        <span class="breadcrumb-item active">Checkout</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <style>
            .address-selection-card {
                background-color: #f2f2f2;
                border: 1px solid #ddd;
                border-radius: 5px;
                margin-bottom: 2%;
                margin-left: 4%;
            }

            .address-selection-card h5 {
                margin-top: 0;
            }

            .address-selection-card label {
                display: block;
                margin-bottom: 10px;
                margin-left: 20px;
            }

            .address-selection-card input[type="radio"] {
                margin-right: 10px;
            }

            @media (min-width: 576px) {
                .address-selection-card {
                    flex-basis: 48%;
                }
            }

            @media (min-width: 768px) {
                .address-selection-card {
                    flex-basis: 31%;
                }
            }

            @media (min-width: 992px) {
                .address-selection-card {
                    flex-basis: 23%;
                }
            }

            @media (min-width: 1200px) {
                .address-selection-card {
                    flex-basis: 18%;
                }
            }
        </style>

        <br>
        <!-- Checkout Start -->

        <form action="/orderSuccess" method="post">
            <div class="container-fluid">
                <div class="row px-xl-5">
                    <div class="col-lg-8">

                        <h5 style=" margin-right: 4%; color: white;"
                            class="col-md-12 form-group section-title position-relative text-uppercase mb-3"><span
                                class=" pr-3">Choose Address</span></h5>
                         <div>
                            <div class="col-md-12">
                                <div class="col-12 form-group d-flex justify-content">
                                    <% for(i=0;i<address.length;i++){%>
                                        <div style="color: white; background: #0b0c2a; border-width: 3px;  border-color: rgb(76, 76, 76);"
                                            class="address-selection-card col p-6 pb-4">
                                            <input style="margin-left: 10px; margin-top: 5px;" type="radio"
                                                name="address" id="addressid" value="<%=address[i]._id%>" <%
                                                if(i==0){%>checked<%}%> onchange="toggleAddressForm(this)">
                                                <label>
                                                    <h5>
                                                        Address <%=i+1%>
                                                    </h5>
                                                    <%=address[i].firstname%>
                                                        <%=address[i].lastname%>
                                                            <br>
                                                            <%=address[i].address%>
                                                                <br>
                                                                <%=address[i].state%>
                                                                    <br>
                                                                    <%=address[i].city%>
                                                                        <br>
                                                                        <%=address[i].country%>
                                                                            <br>
                                                                            <%=address[i].zip%>
                                                </label>

                                                <div>
                                                    <a href="/editcheckoutAddress?id=<%=address[i]._id%>"><button
                                                            style="margin-top: 10px; margin-left: 5%; border-radius: 5px;"
                                                            type="button" class="btn-default">edit</button></a>
                                                    <a href="/deleteAddressCart?id=<%=address[i]._id%>"><button
                                                            style="margin-top: 10px; margin-left: 5%;background-color: rgb(181, 57, 57); color: white; border-radius: 5px;"
                                                            type="button" class="btn-default">delete</button></a>
                                                </div>

                                        </div>
                                        <%}%>
                                </div>
                            </div>
                            <hr>

                        </div>

                        <h5 style="color: white;" class="section-title position-relative text-uppercase mb-3"><span
                                class=" pr-3">New Address</span></h5>
                        <div class=" p-30">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input style="margin-left: 10px;" type="radio" name="address" id="addressid"
                                            value="0">
                                        <label class="text-light">Ship to different address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class=" mb-5 text-light" id="shipping-address">
                            <div class=" tr p-30">
                                <div class="">
                                    <div id="hidden-division">
                                        <!-- <div class="row"> -->
                                        <div class="col-md-8 form-group">
                                            <!-- <label>First Name</label> -->
                                            <input class="form-control mb-1" type="text" name="firstname"
                                                placeholder="First Name">
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <!-- <label>Last Name</label> -->
                                            <input class="form-control mb-1" type="text" name="lastname"
                                                placeholder="Last Name">
                                        </div>
                                        <!-- </div> -->
                                        <div class="col-md-8 form-group">
                                            <!-- <label>Phone</label> -->
                                            <input class="form-control mb-1" name="mno" type="text"
                                                placeholder="Number">
                                        </div>

                                        <div class="col-md-8 form-group">
                                            <!-- <label>Address</label> -->
                                            <input class="form-control mb-1" type="text" name="details"
                                                placeholder="Address">
                                        </div>
                                        <!-- <div class="row"> -->
                                        <div class="col-md-8 form-group">
                                            <!-- <label>Country</label> -->
                                            <input class="form-control mb-1" type="text" name="country"
                                                placeholder="Country">
                                        </div>
                                        <div class="col-md-8 form-group">
                                            <!-- <label>City</label> -->
                                            <input class="form-control mb-1" type="text" name="city" placeholder="City">
                                        </div>

                                        <!-- </div> -->
                                        <!-- <div class="row"> -->

                                        <div class="col-md-8 form-group">
                                            <input class="form-control mb-1 " type="text" name="state"
                                                placeholder="State">
                                        </div>
                                        <div class="col-md-5 form-group">
                                            <input class="form-control mb-4" type="text" name="zip"
                                                placeholder="Post code">
                                        </div>
                                        <!-- </div> -->


                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span
                                class=" pr-3 text-light">Coupons</span></h5>
                        <div class="input-group" style="margin-bottom: 20px;">

                            <div class="input-group-append mt-2">
                                <input style="border-radius: 5px; height: 38px;" name="coupon" id="coupon">
                                <button style="height: 38px;" type="button" class="btn btn-danger ms-2"
                                    onclick="apply()">Apply</button>&nbsp; &nbsp;
                                <button style="height: 38px;" type="button" class="btn btn-secondary ms-2" name="qty"
                                    value="1" onclick="cancelCoupon()">Cancel</button>
                                <a data-toggle="modal" class="btn btn-secondary btn-sm" style="border-radius: 5px;"
                                    type="button" href="#exampleModalScrollable1">Show Coupons</a>
                            </div>
                        </div>
                        <hr>
                        <hr>
                        <h5 style="color: white;" class="section-title position-relative text-uppercase mb-3"><span
                                class=" pr-3">Order Total</span></h5>
                        <div class=" p-30 mb-5">

                            <div class="border-bottom">
                                <h6 style="color: red;" id="msg"></h6>
                                <div style="color: white;" class="d-flex justify-content-between">
                                    <h6 class="mb-3" style="color:aliceblue;">Products</h6>
                                    <h6 class="mb-3" style="color:aliceblue;">Price</h6>
                                </div>
                                <% let subtotal=0; %>
                                    <% for(let key of checkoutdetails.item){ %>
                                        <% const categoryItem=category.find(cat=> cat.name === key.productId.category);
                                            const discountedPrice = (key.productId.price - (key.productId.price *
                                            categoryItem.discountPercentage / 100)) * key.qty;
                                            subtotal += discountedPrice;
                                            %>
                                            <div class="d-flex justify-content-between text-light">
                                                <p class="text-uppercase">
                                                    <%=key.productId.name%> x <%=key.qty%>
                                                </p>
                                                <p>
                                                    <%= discountedPrice %>
                                                </p>
                                            </div>
                                            <%}%>
                            </div>
                            <!-- Calculate the total price after discount -->
                            <!-- <% const categoryItem=category.find(cat=> cat.name ===
                                checkoutdetails.item[0].productId.category); %>
                               <% const totalPrice=subtotal - (subtotal * categoryItem.discountPercentage / 100); %> -->
                            <!-- <%=totalPrice %> -->

                            <div class="border-bottom pt-3 pb-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 style="color: white;">Subtotal</h6>
                                    <input id="subTotal" value="<%= subtotal %>" type="hidden">
                                    <h6 style="color: rgb(255, 255, 255);">
                                        <%= subtotal %>
                                    </h6>
                                </div>
                                <div class="d-flex justify-content-between text-light">
                                    <h6 class="font-weight-medium" style="color:aliceblue;">Discount</h6>
                                    <h6 id="dis" class="font-weight-medium" style="color:aliceblue;">--</h6>
                                </div>
                                <div class="d-flex justify-content-between text-light">
                                    <h6 class="font-weight-medium" style="color:aliceblue;">Reduction Amount
                                    </h6>
                                    <h6 id="amt" class="font-weight-medium" style="color:aliceblue;">--</h6>
                                </div>
                            </div>
                            <div class="pt-2">


                                <div class="d-flex justify-content-between text-light">
                                    <h5 class="font-weight-medium" style="color:aliceblue;">Total</h5>

                                    <input id="last" type="hidden" value="<%=subtotal%>" name="amount">
                                    <h6 id="gT" style="color: rgb(255, 255, 255);">
                                        <%= subtotal %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5 ">

                            <!--wallet -->

                            <hr>
                            <div class="mb-5">
                                <div class=" p-30 mb-4">
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <h6 style="color:aliceblue;"> &nbsp;&nbsp; Wallet Balance</h6>
                                            <input type="checkbox" class="custom-control-input"
                                                onchange="val('<%=wallet%>')" name="payment" id="wallet" value="wallet">
                                            <label class="custom-control-label" for="wallet" style="color:aliceblue;">Rs
                                                <%=wallet%>
                                            </label>
                                            <input type="hidden" id="walamount" name="walamount" value="<%=wallet%>">
                                            <input type="hidden" name="cost" id="payable" value="<%=subtotal%>">
                                            <!--check total-->
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span
                                        class=" pr-3">Payment</span></h5>
                                <div class=" p-30">
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input " name="payment" id="COD"
                                                value="COD">
                                            <label class="custom-control-label " for="COD">COD</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="payment" id="Online"
                                                value="Online">
                                            <label class="custom-control-label " for="Online">Online payment</label>
                                        </div>
                                    </div>            
                                    <button class="btn btn-block btn-primary font-weight-bold py-3" type="submit">Place
                                        Order</button>            
                                </div> -->
                                <!-- </div> -->
                                <h5 style="color: white;" class="section-title position-relative text-uppercase mb-3">
                                    <span class=" pr-3">Payment</span>
                                </h5>
                                <div class=" p-30 text-light">
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" checked name="payment"
                                                id="COD" value="COD">
                                            <label class="custom-control-label" for="COD">COD</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="payment" id="Online"
                                                value="Online">
                                            <label class="custom-control-label " for="Online">Online payment</label>
                                            <br>
                                        </div>
                                    </div>
                                    <button style="height: 40px; align-items: center;"
                                        class="btn btn-block btn-danger font-weight-bold mt-3" type="submit">
                                        Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </form>
        </div>

        <!-- CSS styles -->
        <style>
            .modal-content {
                background-color: black;
                color: white;
            }
        </style>

        <!-- Modal HTML -->
        <div class="modal fade" id="exampleModalScrollable1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">Coupons</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="total" value="<%=coupon.length %>">
                        <% for(i=0;i<coupon.length;i++){ %>
                            <% if(coupon[i].isAvailable){%>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <span style="color: rgb(33, 220, 20);font-size:x-large;"><strong
                                                id="<%=coupon[i]._id%>">
                                                <%= coupon[i].name %>
                                            </strong></span>
                                        <button id="copy-btn" class="bg-dark" style="border: none;"
                                            onclick="copyText('<%=coupon[i]._id%>')"><i
                                                style="color: rgb(217, 233, 160);" class="fas fa-copy"></i></button>
                                        <h6>
                                            <%=coupon[i].description %>
                                        </h6>
                                        <h6>Min cart value-<%= coupon[i].minimumvalue%>
                                        </h6>
                                        <h6 id="<%=i%>exp">expires in <%=coupon[i].expiryDate.toLocaleDateString()%>
                                        </h6>
                                    </div>
                                </div>
                                <hr>
                                <%}%>
                                    <% } %>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--model end-->

        <script>function confirmDelete(id) {
                if (confirm("Are you sure you want to delete this address?")) {
                    window.location.href = "/deletecheckout-address?id=" + id;
                }
            }
        </script>
        <script>
            function copyText(id) {
                const textToCopy = document.getElementById(id).innerHTML;
                navigator.clipboard.writeText(textToCopy).then(() => {
                    alert('Text copied successfully!');
                    Swal.fire({
                        icon: 'success',
                        title: 'Coupon copied successfully!',
                        showConfirmButton: false,
                        timer: 1000
                    });

                }, () => {
                    // alert('Failed to copy text');
                    Swal.fire({
                        icon: 'error',
                        title: 'Failed to copy',
                        showConfirmButton: false,
                        timer: 1000
                    });

                });
            };

        </script>
        <script>
            // Get the radio button element
            var addressRadio = document.getElementById('addressid');

            // Get the form input elements
            var firstNameInput = document.getElementsByName("firstname")[0];
            var lastNameInput = document.getElementsByName("lastname")[0];
            var phoneInput = document.getElementsByName("mno")[0];
            var addressInput = document.getElementsByName("details")[0];
            var countryInput = document.getElementsByName("country")[0];
            var cityInput = document.getElementsByName("city")[0];
            var stateInput = document.getElementsByName("state")[0];
            var zipInput = document.getElementsByName("zip")[0];

            // Add an event listener to the radio button
            addressRadio.addEventListener("change", function () {
                // Check if the radio button is checked
                if (this.checked) {
                    // Validate the form values
                    var isValid = true;
                    if (firstNameInput.value === "") {
                        isValid = false;
                        // Display an error message or perform any other validation logic
                    }
                    if (lastNameInput.value === "") {
                        isValid = false;
                        // Display an error message or perform any other validation logic
                    }
                    // Validate the rest of the form fields

                    // If the form is not valid, you can prevent form submission by using:
                    // event.preventDefault();

                    // Example: Display a validation message if the form is not valid
                    if (!isValid) {
                        alert("Please fill in all the required fields.");
                    }
                }
            });

        </script>

        <script>
            function apply() {
                console.log("sample");
                cop = document.getElementById('coupon').value
                console.log(cop);
                subT = document.getElementById('subTotal').value;
                document.getElementById("dis").style.display="block";
                document.getElementById("amt").style.display="block";
                console.log(subT);
                $.ajax({
                    url: '/applyCoupon',
                    type: 'POST',
                    data: { coupon: cop, totalValue: subT },
                    success: function (data) {
                        console.log(data);
                        if (data.state) {
                            total = subT - data.disc;
                            document.getElementById('dis').innerHTML = data.offerdata.discount + "%";
                            document.getElementById('amt').innerHTML = "Rs " + data.disc
                            document.getElementById('gT').innerHTML = total
                            document.getElementById('last').value = total
                            // document.getElementById('final').value=total;
                            // console.log(  document.getElementById('final').value);
                            document.getElementById("payable").value = total;
                            console.log(data);
                        } else {
                            document.getElementById("msg").innerHTML = data.messag;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            }
            function val(p) {
                waldata = parseInt(p)
                const last = document.getElementById("last").value;
                wallet = parseInt(last);
                if (document.getElementById('wallet').checked) {
                    if (waldata >= wallet) {
                        console.log(wallet, waldata);
                        document.getElementById('COD').setAttribute("disabled", "")
                        document.getElementById('COD').checked = false;
                        //  document.getElementById("payable").value=0;
                        document.getElementById('Online').setAttribute("disabled", "")
                        document.getElementById('Online').checked = false;
                    } else {
                        balance = wallet - waldata;
                        document.getElementById("COD").unchecked = true;
                        document.getElementById("Online").checked = true;
                        document.getElementById('COD').setAttribute("disabled", "")
                        document.getElementById("payable").value = balance;
                        console.log(document.getElementById("payable").value);
                    }
                } else {
                    document.getElementById('COD').removeAttribute("disabled", "")
                    document.getElementById('Online').removeAttribute("disabled", "")
                }

            }
            function cancelCoupon() {
                document.getElementById("coupon").value = "";
                document.getElementById("dis").style.display="none";
                document.getElementById("amt").style.display="none";
                calculateTotal();
            }
            function calculateTotal() {
                const subtotal = parseFloat(document.getElementById("subTotal").value);
                const discount = parseFloat(document.getElementById("dis").value);
                const reductionAmount = parseFloat(document.getElementById("amt").value);
                const total = subtotal - reductionAmount;
                
                document.getElementById("gT").innerText = subtotal
                document.getElementById("last").value = total.toFixed(2);
            }

        </script>

        <%- include ('../layouts/footer.ejs') %>