<%- include ('../layouts/header.ejs') %>

<br>
    <section class=" p-t-40 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr  ">
                <div class="size-210 bor10 p-lr-70 p-t-20 p-b-70 p-lr-15-lg w-full-md">

                    <form style="background-color: rgb(50, 50, 50); border-radius: 10px;" action="/editUser" method="post" class="p-4" onsubmit="return validate()">

                        <h4 style="color: white;" class="mtext-105 cl2 txt-center p-b-30">
                            Update Details
                        </h4>
                        
                        <label style="color: white;">Name</label>
                        <input type="text" class="form-control" placeholder="name" id="name" onchange="nameValidate()" name="name" value="<%=user.name%>"
                            required>
                        <span style="color: rgb(255, 83, 31);" id="Name"></span>
                        <br>

                        <label style="color: white;">Email</label>
                        <input type="text" class="form-control" id="email" onchange="emailValidate()"  placeholder="enter email" name="email"
                            value="<%=user.email%>" required>
                        <span style="color:rgb(255, 83, 31);" id="Email"></span>
                        <br>

                        <label style="color: white;">Mobile</label>
                        <input type="number" class="form-control" onchange="numberValidate()" id="number" placeholder="enter phone number" name="number"
                            value="<%=user.mobile%>" required>
                            <span style="color: rgb(255, 83, 31);" id="Number"></span>
                        <br>
                        <br>
                        <div class="d-flex justify-content-center mx-4 mb-5 mb-lg-4">
                            <input type="hidden" name="id" value="<%=user._id%>">
                            <button style="margin-right: 15px;" type="submit" value="update" class="btn btn-primary btn-lg" 
                            onclick="nameValidate() , emailValidate(), numberValidate()">
                            Save</button>;
                            <a href="userProfile" class="btn btn-primary ml-2 btn-lg">Go Back</a>
                        </div>
                    </form>
    </section>

<br>
<script src="validation.js"> </script>

<%- include ('../layouts/footer.ejs') %>