<%- include ('../layouts/header.ejs') %>
    <!-- Start Banner Hero -->
    
        

    <% if(banner) {%>    
        
        
        <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <ol class="carousel-indicators">
                <li data-bs-target="#template-mo-zay-hero-carousel"  data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
            </ol>
            <div style="background-color: rgb(252, 248, 248);"  class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <div class="container"> -->
                        <div class="row p-5">
                            <div class="mx-auto col-md-12 col-lg-8 order-lg-last">
                                <img style="border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);" class="img-fluid " src="/uploads/<%=banner.image[0]%>" alt="">
                            </div>
                            <div class="col-lg-4 mb-0 d-flex align-items-left justify-content-left">
                                <div class="text-align-left align-self-center">
                                    <h1 style="color: rgb(14, 13, 13);" class="h1"><b>Raaga</b></h1>
                                    <h3 style="color: rgb(28, 27, 27);" class="h3">Welcome to the world of music
                                     <a class="btn btn-outline-light btn-secondary mt-3 animate__animated animate__fadeInUp"
                                            href="/loadShop">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <% for(i=1;i<=banner.image.length;i++){%>
                <div class="carousel-item">
                    <!-- <div class="container"> -->
                        <div class="row p-5">
                            <div class="mx-auto col-md-12 col-lg-8  order-lg-last">
                                <img style="border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);" class="img-fluid text-light" src="/uploads/<%=banner.image[i]%>" alt="">
                            </div>
                            <div class="col-lg-4 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 style="color: rgb(5, 5, 5);" class="h1"><b>Raaga</b></h1>
                                    <h3 style="color: rgb(0, 0, 0);" class="h3">Where melodies came to life!</h3>
                                     <p style="color: rgb(107, 107, 107);" ><%=banner.description%></p>
                                     <a class="btn btn-outline-light btn-secondary mt-3 animate__animated animate__fadeInUp"
                                            href="/loadShop?category=2">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="carousel-item">
                    <!-- <div class="container"> -->
                        <div class="row p-5">
                            <div   class="mx-auto col-md-12 col-lg-8  order-lg-last">
                                <img style="border-radius: 15px; box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);" class="img-fluid" src="/uploads/<%=banner.image[i+1]%>" alt="">
                            </div>
                            <div class="col-lg-4 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 style="color: rgb(9, 9, 9);" class="h1"><b>Raaga</b></h1>
                                    <h3 style="color: rgb(54, 51, 51);" class="h3">Your destination for music</h3>
                                     <p style="color: rgb(14, 13, 13);" ><%=banner.description%></p>
                                     <a class="btn btn-outline-light btn-secondary mt-3 animate__animated animate__fadeInUp"
                                            href="/loadShop">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
            <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                <i class="fas fa-chevron"></i>
            </a>
            <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                <i class="fas fa-chevron"></i>
            </a>
        </div>
        <% }}
           
           
           else { %>
        <div id="template-mo-zay-hero-carousel" class="carousel slide mt-5" data-bs-ride="carousel">
            
            <div style="background-color: rgb(33, 33, 33);" class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row p-5">
                            <div class="mx-auto col-md-6 col-lg-6 order-lg-last">
                                <img class="img-fluid" src="." alt="">
                            </div>
                            <div class="col-lg-6 mb-0 d-flex align-items-center">
                                <div class="text-align-left align-self-center">
                                    <h1 style="color: white;" class="h1"><b>Raaga</b></h1>
                                    <h3 style="color: rgb(189, 189, 189);" class="h2">Welcome to the world of Music</h3>
                                    <p style="color: rgb(107, 107, 107);" class="my-4">"Unlock the Power of Music: Immerse Yourself in Melodies, Connect with Artists, and Create Unforgettable Moments in the Symphony of Life" </p>
                                    
                                    <a class="btn btn-outline-light  btn-success py-2 px-4 mt-3 animate__animated animate__fadeInUp"
                                            href="/loadShop">Shop Now</a>
                                   
                                </div>
                               
                                
                            </div>
                            <div   class="col-lg-6 d-flex align-items-center justify-content-center">
                                    <img style="margin-left: 10px; width: 400px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 15px;" src="./assets/img/logo.png" alt="">
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <%}%>
    
    
    <!-- End Banner Hero -->
  
  
  <!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<div style="background-color: black;">

  <section class="container py-5">
      <div class="row text-center pt-3">
          <div class="col-lg-6 m-auto">
              <h1 class="h1 text-light">TOP CATEGORIES</h1>
             
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-3  p-5 mt-3 ">
              <a href="/loadShop?category=3"><img style="border-radius: 10px;" src="assets/img/img/Categories/flute1.jpg" class=" img-fluid border"></a>
              
                  <a class="btn btn-container-fluid btn-outline-warning btn py-2 px-4 mt-3 animate__animated animate__fadeInUp  "
                                          href="/loadShop?category=3">Flute</a>
              
          </div>
          <div class="col-12 col-md-3 p-5 mt-3">
              <a href="/loadShop?category=0"><img style="border-radius: 10px;"  src="assets/img/img/Categories/veena1.jpg" class=" img-fluid border"></a>
              
              
              <a class="btn btn-container-fluid btn-outline-warning btn py-2 px-4 mt-3 animate__animated animate__fadeInUp  "
                                          href="/loadShop?category=0">Veena</a>
           
          </div>
          <div class="col-12 col-md-3 p-5 mt-3">
              <a href="/loadShop?category=2"><img style="border-radius: 10px;" src="assets/img/img/Categories/guitar1.jpg" class=" img-fluid border"></a>
              
              
              <a class="btn btn-container-fluid btn-outline-warning btn py-2 px-4 mt-3 animate__animated animate__fadeInUp "
                                          href="/loadShop?category=2">guitar</a>
              
          </div>
          <div class="col-12 col-md-3 p-5 mt-3">
            <a href="/loadShop?category=1"><img style="border-radius: 10px;" src="assets/img/img/Categories/violin-12.jpg" class=" img-fluid border"></a>
            
            
            <a class="btn btn-container-fluid btn-outline-warning btn py-2 px-4 mt-3 animate__animated animate__fadeInUp "
                                        href="/loadShop?category=1">violin</a>
            
        </div>
      </div>

      

  </section>
</div>


<!--Start Product list -->

<div style="background-color: black;">
    <section class="container">
        <div class="row text-center pt-4">
            <div class="col-lg-12 m-auto">
                <h1 class="h1 text-light">TOP PRODUCTS</h1>
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <% for(var i=0; i<product.length; i+=4){ %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <div class="row pb-3">
                                <% for(var j=i; j<i+4 && j<product.length; j++){ %>
                                    <% if(product[j].isAvailable){ %>
                                    <div class="col-12 col-md-3 mb-4">
                                        <div style="background-color: rgb(35, 35, 35); border-color: rgb(94, 94, 94);border-radius: 20px;" class="card h-100">
                                            <a href="/viewDetails?id=<%=product[j]._id%>">
                                                <img style="border-width: 1px; border-color: rgb(226, 99, 99); border-radius: 20px;" src="/uploads/<%=product[j].image[0]%>" class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <ul class="list-unstyled d-flex justify-content-between">
                                                    <li>
                                                        <% if (product[j].rating < 1){ %>
                                                            <i class="text-warning fad fas fa-star-half"></i>
                                                        <% }else if(product[j].rating <=1.5){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star-half"></i>
                                                        <% }else if(product[j].rating < 2.5){ %>
                                                            <i class="text-muted fas fa-star"></i>
                                                            <i class="text-muted fas fa-star"></i>
                                                        <% }else if(product[j].rating < 3.5){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                        <% }else if(product[j].rating < 4){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star-half"></i> 
                                                        <% }else if(product[j].rating < 4.5){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                        <% }else if(product[j].rating < 5){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star-half"></i>
                                                        <% }else if(product[j].rating == 5){ %>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                            <i class="text-warning fas fa-star"></i>
                                                        <% } %>
                                                    </li>
                                                    <li style="color: #ffffff;" class="text-right">Rs <%=product[j].price%></li>
                                                </ul>
                                                <a href="/viewDetails?id=<%=product[j]._id%>" style="color: #ffffff;" class="h6 text-uppercase text-decoration-none"><%=product[j].name%></a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

   </body>

<%- include('../layouts/footer.ejs') %>
